variable "vanity_fqdn" {
  type        = string
  description = "Vanity FQDN for the app"
  default     = "vanity.example.com"
}

variable "lb_fqdn" {
  type        = string
  description = "FQDN for the app. If you have delegated domain `prod.example.com`, then your app_domain can be `<app_name>.prod.example.com`"
  default     = "app.prod.example.com"
}

variable "short_name" {
  type        = string
  description = "Unique short name for the app."
  default     = "vanity"
}

variable "uk_se_name" {
  description = "UK SE name tag"
  default     = "my-name"
}

variable "volterra_namespace_exists" {
  type        = string
  description = "Flag to create or use existing volterra namespace"
  default     = true
}

variable "volterra_namespace" {
  type        = string
  description = "Volterra app namespace where the object will be created. This cannot be system or shared ns."
  default     = "my-namespace"
}

variable "cloud_cred_name" {
  type        = string
  description = "The object name for your cloud credentials witin Volterra"
  default     = "my-cloud-creds"
}

variable "volt_tenant" {
  type        = string
  description = "Volterra tenant name"
  default     = "my-tenant-abcde"
}

variable "volt_api_url" {
  type        = string
  description = "Volterra tenant api url"
  default = "https://example.com/api"
}

variable "volt_api_p12_file" {
  type        = string
  description = "Volterra tenant api key"
  default     = "../../location/api-creds.p12"
}